#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
/* tic tac toe  */
.rowStyle {
  display: 'flex'
};

.squareStyle {
  width: '60px';
  height: '60px';
  background-color: '#ddd';
  margin: '4px';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  font-size: '20px';
  color: 'white'
};

.boardStyle {
  background-color: '#eee';
  width: '288px';
  align-items: 'center';
  justify-content: 'center';
  display: 'flex';
  flex-direction: 'column';
  border: '3px #eee solid'
};

.containerStyle {
  display: 'flex';
  align-items: 'center';
  flex-direction: 'column'
};

.instructionsStyle  {
  margin-top: '5px';
  margin-bottom: '5px';
  font-weight: 'bold';
  font-size: '16px'
};

.buttonStyle  {
  margin-top: '15px';
  width: '100px';
  height: '40px';
  margin-bottom: '16px';
  background-color: '#Bacaca';
  color: 'white';
  font-size: '16px'
};
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

